@use "../../abstracts" as *;

.patient-card {
    margin-top: 8px;
    background: #fff;
    width: 100%;
    height: auto;

    border-radius: 4px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.patient-card__header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;

    .patient-number__indicator {
        background: $green;
        width: 40px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: $h1;
            font-weight: $medium;
            line-height: 100%;
            color: #fff;
        }
    }
    .patient-name__indicator {
        margin-left: 16px;
        display: flex;
        align-items: center;
        h1 {
            font-size: $h3;
            font-weight: $medium;
            line-height: 100%;
            color: $light-text-clr;
        }
    }
    .patient-card__actions-container {
        margin-left: auto;
    }
}

.MuiInputBase-input::placeholder {
    color: #3a719b !important;
    opacity: 1 !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #3a719b !important;
    opacity: 1 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #3a719b !important;
    opacity: 1 !important;
}

.closed-card {
    opacity: 0;
    height: 0;
    transition: opacity 0.2s linear, height 0.2s linear;
}

.open-card {
    opacity: 1;
    height: auto;
    transition: opacity 0.2s linear, height 0.2s linear;
}
